body{
	background-color:#3F94E7;
	font-family: "Arial";
}
img{
	position:absolute;
	top:10%;
	left:48%;
	height:35px;
}

legend{
	margin-left:140px;
	margin-top:100px;
	color:grey;
	font-size:40px;
	font-weight:bold;
}

fieldset{

	padding-left:40px;
	padding-right:40px;
	width:400px;
	height:600px;
	border: 1px solid black;
    border-radius: 3px;
    margin-top:150px;
    margin-bottom:150px;
    margin-left:750px;
    margin-right:150px;
    background-color:white;


}
input{
	height:30px;
	width:320px;
	font-size:16px;
	margin-left:50px;
}

label {
	display:block;
	margin-top:50px;
	margin-bottom:10px;
	margin-left:50px;

}

button{
	width:320px;
	height:55px;
	padding:15px;
	margin-left:50px;


}
button:hover{
	background-color:green;
	text-align:center;
}